.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  background-color: green;
  height: 450px;
}

.row {
  background-color: orange;
  display: inline-flex;
  justify-content: space-evenly;
}
